
        body{
          color:#000;
          background: #fff;
          text-align: center;
        }

        input[type="text"]{
          background: #fff;
          -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    max-width:95%;
          margin:0 auto;
          border: 2px solid blue;
          margin-top: 2rem;
          margin-bottom: 1rem;
          padding: 1.5rem;
        }

        input[type="submit"]{
          padding: 1rem;
          padding-left: 4rem;
          padding-right: 4rem;
          margin-top: 2rem;
          font-weight: 600;
          font-size: 1.2rem;
          max-width:95%;
          text-align: center;
          -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
          background:rgb(55, 0, 255);
        }

        input[type="submit"]:hover{
          background: rgb(255, 255, 255);
          color:blue;
        }

        .option-format{
          background: #fff;
          padding: 1rem;
          padding-right: 2rem;
          padding-left: 2rem;
          margin-right:1rem;
          margin-top: 1rem;
          border: 2px solid blue;
          margin-bottom:1rem;
          display: inline-block;
          border-radius: 10px;
          max-width:95%;
          -webkit-transition: all 0.4s ease 0s;
          -moz-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          box-shadow: 0px 15px 30px rgb(77, 87, 222,0.2);
        }

        .option-format:hover{
          background: rgb(55, 0, 255);
          color: #fff;
          -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
        }

        h4{
          font-size: 1rem;
          float: right;
          margin-left:1rem;
        }

        #dwn-form{
          padding: 3rem;
          box-shadow: 0px 15px 30px rgb(77, 87, 222,0.3);
        }

        input[type="radio"]{
          float: left;
        }

        h1{
          font-size: 2rem;
          margin-bottom:3rem;
        }

        img{
          max-width: 20%;
        }